/* Boilerplate placeholder */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

*,
*::before,
*::after {
    font-family: "Roboto", sans-serif;

    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    width: 100%;
    height: 100vh;
}

.boilerplate__container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* end of placeholder */
